.calendarView{
    position: relative;
    overflow: hidden;
    .currentMonth{
        position: relative;
        background-color: #fff;
    }
    .nextMonth, .prevMonth{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

    }
}