.monthView {
  .dayView {
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    display: inline-block;

    &.passive {
      color: #dfdfdf;
    }

    &.active:hover {
      cursor: pointer;
      background-color: #aaa;
    }
  }
}
